$bg_grey: #dcdddc;
$bg_main: #e3e3e3;

$red: #e20e12;
$red_light: #e3000f;
$red_hr: #e40e13;
$red_link: #da0000;

$white: #ffffff;
$black: #000000;

$grey_font: #4d4d4d;
$grey_side_bg: #f2f2f2;
$grey_bg: #dadada;
$grey_border: #a3a3a3;
$grey_content: #ebebeb;


